body {
  margin: 0px;
  color: white;
}
a {
  color: white;
}
.cred {
  background: #E6E6FA;
}
.cblue {
  background: #90EEF0;
}
.header {
  width: 100%;
  background-color: #273149;
  padding: 10px;
  height:100px;
}
.footer {
  width: 100%;
  background-color: #273149;
  padding: 20px 0px 20px 10px;
}
.nav {
  max-width: 960px;
  background-color: #273149;
  width: 85%;
  height: 40px;
  margin: 10px auto;
  border-radius: 0 10px;
  padding: 10px;
}
.content {
  width: 100%;
}
#imgfloat {
  float: left;
  position: absolute;
}
.nav>a{	
  max-width:960px;
  position: absolute;
  margin:2px;
  margin-left:50px;
  font-size:20px;
  padding:7px;
  font-family: Tahoma;
}
.nav>.a_table {
  margin-left:425px;
}
.nav>.a_form{
  margin-left:825px;
}
#header_text {
  color: white;
  font-family: Tahoma;
  padding-top: 10px;
  text-align:center;
  vertical-align: middle;
}
#block_links {
  max-width: 960px;
  height: 850px;
  border-radius: 5px;
  background-color: #273149;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
}
#block_table {
  max-width: 960px;
  height: 110px;
  border-radius: 5px;
  background-color: #273149;
  color: black;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
}
#block_form {
  max-width: 960px;
  height: 400px;
  border-radius: 5px;
  background-color: #273149;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
}
.header_align {
  max-width: 960px;
  margin: 0 auto;
}