body {
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
}
a {
  color: white;
}
.cred {
  background: #E6E6FA;
  color: black;
}
.cblue {
  background: #90EEF0;
  color: black;
}
.header {
  width: 100%;
  background-color: #273149;
  padding: 10px;
  height:100px;
}
.footer {
  width: 100%;
  background-color: #273149;
  padding: 20px 10px 20px 10px;
}
.nav {
  display:flex;
  flex-direction:column;
  background-color: #273149;
  width: 100%;
  height: 85px;
  margin: 10px auto;
  border-radius: 0 10px;
  padding: 10px;
}
.content {
  display:flex;
  flex-direction:column;
  width: 100%;
}
#imgfloat {
  float: left;
  position: absolute;
}
.a_a, .a_table, .a_form {
  margin-left:20px;
  padding:2px;
  font-size:20px;
  align-self:flex-start;
  font-family: Tahoma;
}
#header_text {
  color: white;
  font-family: Tahoma;
  padding-top: 10px;
  text-align:center;
  vertical-align: middle;
}
#block_links, #block_table, #block_form {
  width: 100%;
  border-radius: 5px;
  background-color: #273149;
  margin: 10px auto;
  padding: 10px;
}
#block_table {
  order: 2;
}
#block_form {
  order: 1;
}
.header_align {
  max-width: 960px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .nav, #block_links, #block_table, #block_form {
    max-width:960px;
  }
  .nav {
    flex-direction: row;
    height:50px;
    justify-content:space-around;
  }
  .a_a, .a_table, .a_form {
    align-self:center;
  }
  #block_table {
    order: 1;
  }
  #block_form {
    order: 2;
  }
}